{% extends 'nav.html' %}

{% block body %}
    <div class="fb" style="margin:0% 20%">
        <h2 style="text-align:center; margin-top:30px; color:darkslateblue">Product Request</h2>

        <form class="mx-auto container" action="/ordered" method="post">
            <div class="row mx-auto" style="margin-top:40px;">
                <div class="form-group col-md-12">
                    <label class="col-form-label font-italic"><b>Available Products</b></label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="availablecount" value="{{ data }}" readonly>
                </div>
            </div>

            <div class="row mx-auto" style="margin-top:40px;">
                <div class="form-group col-md-12">
                    <label class="col-form-label font-italic"><b>Requesting Count</b></label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="requestcount" required>
                </div>
            </div>

            <div style="margin-top:40px; margin-left:40%;">
                <button type="submit" class="btn btn-primary w-15">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}
